/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2018/9/3 下午9:09
 */
$sh--brand-color: #716aca !default;
$sh--brand-inverse-color: #ffffff !default;
$sh--state-colors: (
        brand: (
                base: $sh--brand-color,
                inverse: $sh--brand-inverse-color
        ),
        metal: (
                base: #c4c5d6,
                inverse: #ffffff
        ),
        light: (
                base: #ffffff,
                inverse: #282a3c
        ),
        accent: (
                base: #00c5dc,
                inverse: #ffffff
        ),
        focus: (
                base: #9816f4,
                inverse: #ffffff
        ),
  // bootstrap states
        primary: (
                base: #5867dd,
                inverse: #ffffff
        ),
        success: (
                base: #34bfa3,
                inverse: #ffffff
        ),
        info: (
                base: #36a3f7,
                inverse: #ffffff
        ),
        warning: (
                base: #ffb822,
                inverse: #111111
        ),
        danger: (
                base: #f4516c,
                inverse: #ffffff
        ),
        secondary:(
                base:#ffffff,
                inverse:#212529
        )
) !default;