/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019/5/11 15:12
 */
.inline-code {
  margin: 0 1px;
  padding: .2em .4em;
  font-size: .9em;
  background: #f2f4f5;
  border: 1px solid #eee;
  border-radius: 3px;
}
