.DS_Store
node_modules/
_book/
/dist/
doc/_book/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.markeditor/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.Archive
package-lock.json