/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019/8/19 19:36
 */
.shine-icon-list {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
  border: 1px solid #eaeefb;
  border-right: none;
  border-radius: 4px;

  li {
    float: left;
    width: 16.66%;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #666;
    font-size: 13px;
    transition: color .15s linear;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-right: -1px;
    margin-bottom: -1px;

    &:hover {
      box-shadow: 0 0 10px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    }

    span {
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
      font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
      color: #99a9bf;
    }

    i {
      display: block;
      font-size: 32px;
      margin-bottom: 15px;
      color: #606266;
    }

    .icon-name {
      display: inline-block;
      padding: 0 3px;
      height: 1em;
      color: #606266;
    }
  }
}

.more-icon {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #28C;
  cursor: pointer;
  position: relative;
}
