/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2018/9/29 下午7:31
 */

.#{$classPrefix}-divider {
  display: flex;
  justify-content: center;
  align-items: center;

  > span {

    &:first-child {
      width: 100%;
      height: 1px;
      flex: 1;
      background: #EBECF1;
      display: inline-block;
    }

    &:last-child {
      width: 100%;
      height: 1px;
      flex: 1;
      background: #EBECF1;
      display: inline-block;
    }

    &:not(:first-child):not(:last-child) {
      padding: 0 2rem;
    }
  }
}
