/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2018/9/4 下午1:58
 */

// 绘制圆角
@mixin border-radius($radius, $important: '') {
  -webkit-border-radius: $radius#{$important};
  -moz-border-radius: $radius#{$important};
  -ms-border-radius: $radius#{$important};
  -o-border-radius: $radius#{$important};
  border-radius: $radius#{$important};
}

// 绘制左上角圆角
@mixin border-top-left-radius($radius, $important: '') {
  -webkit-border-top-left-radius: $radius#{$important};
  -moz-border-top-left-radius: $radius#{$important};
  -ms-border-top-left-radius: $radius#{$important};
  -o-border-top-left-radius: $radius#{$important};
  border-top-left-radius: $radius#{$important};
}

// 绘制右上角圆角
@mixin border-top-right-radius($radius, $important: '') {
  -webkit-border-top-right-radius: $radius#{$important};
  -moz-border-top-right-radius: $radius#{$important};
  -ms-border-top-right-radius: $radius#{$important};
  -o-border-top-right-radius: $radius#{$important};
  border-top-right-radius: $radius#{$important};
}

// 绘制左下角圆角
@mixin border-bottom-left-radius($radius, $important: '') {
  -webkit-border-bottom-left-radius: $radius#{$important};
  -moz-border-bottom-left-radius: $radius#{$important};
  -ms-border-bottom-left-radius: $radius#{$important};
  -o-border-bottom-left-radius: $radius#{$important};
  border-bottom-left-radius: $radius#{$important};
}

// 绘制右下角圆角
@mixin border-bottom-right-radius($radius, $important: '') {
  -webkit-border-bottom-right-radius: $radius#{$important};
  -moz-border-bottom-right-radius: $radius#{$important};
  -ms-border-bottom-right-radius: $radius#{$important};
  -o-border-bottom-right-radius: $radius#{$important};
  border-bottom-right-radius: $radius#{$important};
}
