/**
 * 
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019-05-03 17:57
 */

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
