/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2018/9/4 下午6:37
 */

// 阴影
@mixin shadow($shadow, $important: '') {
  -webkit-box-shadow: #{$shadow} #{$important}; // iOS <4.3 & Android <4.1
  -moz-box-shadow: #{$shadow} #{$important};
  box-shadow: #{$shadow} #{$important};
}