/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019/3/16 00:40
 */

@function array-get($map, $keys...) {
  @if length($keys) == 1 {
    $keys: nth($keys, 1);
  }

  $warn: "#{nth($keys, 1)}";
  $length: length($keys);
  $get: map-get($map, nth($keys, 1));

  @if $length > 1 {
    @for $i from 2 through $length {
      @if $get != null and type-of($get) == 'map' {
        $warn: $warn + "->#{nth($keys, $i)}";
        $get: map-get($get, nth($keys, $i));

        @if $get == null {
          @return null;
        }
      } @else {
        @return array-get-warning($warn, $get, nth($keys, $i));
      }
    }
  }

  @return $get;
}
