/**
 * 
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019-05-03 17:47
 */
@import "../variables";

@function get-font-size($type, $size: base) {
  // get increased font sizes
  @if ($size == '+') {
    $size: up1;
  }

  @if ($size == '++') {
    $size: up2;
  }

  @if ($size == '+++') {
    $size: up3;
  }

  @if ($size == '++++') {
    $size: up4;
  }

  @if ($size == '+++++') {
    $size: up5;
  }

  // get decreased font sizes
  @if ($size == '-') {
    $size: down1;
  }

  @if ($size == '--') {
    $size: down2;
  }

  @if ($size == '---') {
    $size: down3;
  }

  @if ($size == '----') {
    $size: down4;
  }

  @if ($size == '-----') {
    $size: down5;
  }

  @return array-get($font-sizes, $type, $size);
}

@function get-font-weight($type) {
  @return array-get($font-weights, $type);
}
