/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019/8/20 13:17
 */
@import "../base/shadow";

@function get-shadow($skin, $i: base) {
  @if ($skin == light) {
    @if ($i == '+') {
      $i: darken1;
    }

    @if ($i == '++') {
      $i: darken2;
    }

    @if ($i == '+++') {
      $i: darken3;
    }

    @if ($i == '++++') {
      $i: darken4;
    }

    @if ($i == '+++++') {
      $i: darken5;
    }

    @if ($i == '-') {
      $i: lighten1;
    }

    @if ($i == '--') {
      $i: lighten2;
    }

    @if ($i == '---') {
      $i: lighten3;
    }

    @if ($i == '----') {
      $i: lighten4;
    }

    @if ($i == '-----') {
      $i: lighten5;
    }
  }

  @if ($skin == dark) {
    @if ($i == '-') {
      $i: darken1;
    }

    @if ($i == '--') {
      $i: darken2;
    }

    @if ($i == '---') {
      $i: darken3;
    }

    @if ($i == '----') {
      $i: darken4;
    }

    @if ($i == '-----') {
      $i: darken5;
    }

    @if ($i == '+') {
      $i: lighten1;
    }

    @if ($i == '++') {
      $i: lighten2;
    }

    @if ($i == '+++') {
      $i: lighten3;
    }

    @if ($i == '++++') {
      $i: lighten4;
    }

    @if ($i == '+++++') {
      $i: lighten5;
    }
  }

  @return array-get($shine--box-shadows, $skin, $i);
}
