/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019-04-29 09:20
 */
.shine-icon-helper {
  margin-bottom: 20px;

  i {
    display: inline-block;
    margin-right: 10px;
  }

  & > .block {
    margin-bottom: 10px;
  }
}
