/**
 * 全局变量
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019/3/16 00:35
 */

$shine-colors: (
  // 品牌色
  brand: (
    base:#716ACA,
    inverse:#FFFFFF
  ),
  // 重要状态
  primary: (
    base:#5867DD,
    inverse:#FFFFFF
  ),
  // 成功状态
  success: (
    base:#34BFA3,
    inverse:#FFFFFF
  ),
  // 提示装填
  info: (
    base:#36A3F7,
    inverse:#FFFFFF
  ),
  // 警告状态
  warning: (
    base:#FFB822,
    inverse:#FFFFFF
  ),
  // 危险状态
  danger: (
    base:#F4516C,
    inverse:#FFFFFF
  )
) !default;
