/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019/3/24 12:57
 */

@mixin shine--build-col($classPrefix) {
  .#{$classPrefix}-row {

    > .#{$classPrefix}-col__item {
      flex: none;
      -ms-flex: none;

      &.#{$classPrefix}-col__item--fluid {
        flex: 1 0 auto;
        -ms-flex: 1 0 auto;
      }
    }

    @for $i from 1 through 12 {
      > .#{$classPrefix}-col__item.#{$classPrefix}-col__item--order-#{$i} {
        order: $i;
        -ms-flex-order: $i;
      }
    }

  }
}
