/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019-04-27 14:27
 */
@import "./variables";

@mixin sh-build-component--input-base() {

  .#{$classPrefix}-form-control {
    font-family: #{array-get($shine-input, layout, self, font-family)};
    @include shadow(none);

    &.#{$classPrefix}-form-control--pill {
      @include border-radius(array-get($shine-input, layout, self, size, default, pill-radius));

      &.#{$classPrefix}-form-control-large {
        @include border-radius(array-get($shine-input, layout, self, size, lg, pill-radius));
      }

      &.#{$classPrefix}-form-control-small {
        @include border-radius(array-get($shine-input, layout, self, size, sm, pill-radius));
      }
    }

    @include border-radius(0);

    @include rounded {
      @include border-radius(array-get($shine-input, layout, self, border-radius));
    }

    &.#{$classPrefix}-form-control--square {
      @include border-radius(0);
    }

    &.sh-input--fixed {
      display: inline-block;
      width: array-get($shine-input, layout, self, size, default, fixed);
    }

    &.sh-input--fixed-large {
      display: inline-block;
      width: array-get($shine-input, layout, self, size, lg, fixed);
    }

    &.sh-input--fixed-small {
      display: inline-block;
      width: array-get($shine-input, layout, self, size, sm, fixed);
    }
  }
}
