/**
 * 
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2019-05-03 17:44
 */

@mixin m-build-component--form-base() {
  $space: 30px;

  .#{$classPrefix}-form__group {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    &.#{$classPrefix}-form__group--md {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.#{$classPrefix}-form__group--sm {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .#{$classPrefix}-form__control-static {
      display: inline-block;
      font-weight: get-font-weight(normal);
      font-size: get-font-size(regular);
      padding-top: array-get($shine-input, layout, self, size, default, padding, y);
    }

    &.#{$classPrefix}-form__group--first {
      padding-top: 0;
    }


    &.#{$classPrefix}-form__group--last {
      padding-bottom: 0;
    }

    @include desktop() {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    &.#{$classPrefix}-form__group--inline {
      display: table;
      padding: 0;

      > .#{$classPrefix}-form__label {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding-right: 0.5rem;

        &.#{$classPrefix}-form__label-no-wrap {
          white-space: nowrap;
        }

        > label {
          margin: 0;
        }
      }

      > .#{$classPrefix}-form__control {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        width: 100%;
      }
    }
  }

  //== Form control help
  .#{$classPrefix}-form__help {
    font-weight: get-font-weight(normal);
    font-size: get-font-size(regular, '-');
    padding-top: 7px;
  }

  span.#{$classPrefix}-form__help {
    display: inline-block;
  }

  // Validation state
  .#{$classPrefix}-form-control-feedback {
    margin-top: 0.2rem;
    font-size: get-font-size(regular, '-');
  }

  .#{$classPrefix}-form {
    .#{$classPrefix}-form-control-label,
    label {
      font-weight: get-font-weight(bold);
      font-size: get-font-size(regular);

      &.col-form-label {
        padding-top: array-get($shine-input, layout, self, size, default, padding, y);
        //padding-bottom: array-get($m--forms, input, layout, self, size, default, padding, y);
      }
    }

    //== Form section
    .#{$classPrefix}-form__section {
      margin: 40px 0 40px 0;

      &:first-child,
      &.#{$classPrefix}-form__section--first {
        margin-top: 0;
      }

      &:last-child,
      &.#{$classPrefix}-form__section--last {
        margin-bottom: 0;
      }
    }

    //== Form separator
    .#{$classPrefix}-form__seperator {
      display: block;
      height: 0;

      &.#{$classPrefix}-form__seperator--space {
        margin: 20px 0;
      }

      &.#{$classPrefix}-form__seperator--space-2x {
        margin: 30px 0;
      }

      &.#{$classPrefix}-form__seperator--space-3x {
        margin: 40px 0;
      }
    }

    //== Form heading
    .#{$classPrefix}-form__heading {
      padding: 0;
      margin: 0 0 15px 0;

      .#{$classPrefix}-form__heading-title {
        font-weight: get-font-weight(bolder);
        font-size: get-font-size(regular, '+++');

        .#{$classPrefix}-form__heading-help-icon {
          line-height: 0;
          vertical-align: middle;
          padding-left: 5px;
        }
      }

      .#{$classPrefix}-form__heading-sub {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: get-font-size(regular);
      }

      &.#{$classPrefix}-form__heading--bordered,
      &.#{$classPrefix}-form__heading--dashed {
        padding: 0 0 15px 0;
        margin: 0 0 15px 0;
      }
    }

    //== Form actions
    .#{$classPrefix}-form__actions {
      @include clearfix();
      padding: $space;

      &.#{$classPrefix}-form__actions--right {
        text-align: right;
      }

      &.#{$classPrefix}-form__actions--sm {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      &.#{$classPrefix}-form__actions--paddingless-sides {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.#{$classPrefix}-form--custom {
      .#{$classPrefix}-form__actions {
        padding: $space 0;
        margin-top: $space;

        &.#{$classPrefix}-form__actions--top {
          margin-top: 0;
          margin-bottom: $space;
        }
      }
    }

    //== form layout options

    // fit form option
    &.#{$classPrefix}-form--fit {
      .#{$classPrefix}-form__content,
      .#{$classPrefix}-form__heading,
      .#{$classPrefix}-form__group {
        padding-left: $space;
        padding-right: $space;
      }
    }

    // form labels right aligned option
    @include desktop {
      .#{$classPrefix}-form__section.#{$classPrefix}-form__section--label-align-right,
      &.#{$classPrefix}-form--label-align-right {
        .#{$classPrefix}-form__group {
          > label {
            text-align: right;
          }
        }
      }
    }

    // form labels right aligned option
    @include tablet {
      &.#{$classPrefix}-form--label-align-right-tablet {
        .#{$classPrefix}-form__group {
          label {
            text-align: right;
          }
        }
      }
    }

    &.#{$classPrefix}-form--group-seperator-dashed,
    &.#{$classPrefix}-form--group-seperator {
      .m-portlet__body {
        padding-top: 0;
        padding-bottom: 0;
      }

      .#{$classPrefix}-form__group {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    //== Filter
    .#{$classPrefix}-form__filtration {
      margin: 0 0 30px 0;
    }

    //== Group actions
    .#{$classPrefix}-form__group-action {
      margin: 0 0 30px 0;
    }
  }
}

//== Component Skin
@mixin m-build-component--form-skin() {
  $skin: $default-skin;

  .#{$classPrefix}-form {
    .#{$classPrefix}-form-control-label,
    .col-form-label,
    .#{$classPrefix}-form__group > label {
      color: get-color($skin, regular, '+');
    }

    .#{$classPrefix}-form__control-static {
      color: get-color($skin, regular, '-');
    }

    &.#{$classPrefix}-form--group-seperator {
      .#{$classPrefix}-form__group {
        border-bottom: 1px solid get-color($skin, panel, '-');

        &.#{$classPrefix}-form__group--last,
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &.#{$classPrefix}-form--group-seperator-dashed {
      .#{$classPrefix}-form__group {
        border-bottom: 1px dashed get-color($skin, panel);

        &.#{$classPrefix}-form__group--last,
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .#{$classPrefix}-form__help {
      color: get-color($skin, regular, '--');
    }

    .#{$classPrefix}-form__seperator {
      border-top: 1px solid get-color($skin, panel);

      &.#{$classPrefix}-form__seperator--dashed {
        border-top: 1px dashed get-color($skin, panel);
      }
    }

    .#{$classPrefix}-form__heading {
      .#{$classPrefix}-form__heading-title {
        color: get-color($skin, regular);
      }

      .#{$classPrefix}-form__heading-sub {
        color: get-color($skin, regular, '-');
      }

      &.#{$classPrefix}-form__heading--bordered {
        border-bottom: 1px solid get-color($skin, panel);
      }

      &.#{$classPrefix}-form__heading--dashed {
        border-bottom: 1px dashed get-color($skin, panel);
      }
    }

    .#{$classPrefix}-form__section {
      color: get-color($skin, regular, '--');
    }

    .#{$classPrefix}-form__actions {
      &.#{$classPrefix}-form__actions--line {
        border-top: 1px solid get-color($skin, panel);
      }

      &.#{$classPrefix}-form__actions--top {
        &.#{$classPrefix}-form__actions--line {
          border-top: 0;
          border-bottom: 1px solid get-color($skin, panel);
        }
      }

      &.#{$classPrefix}-form__actions--solid {
        background-color: get-color($skin, panel, '--');
        border-color: get-color($skin, panel, '--');
      }
    }
  }
}

//== Component Skin
@mixin m-build-component--form-validation-state($state, $color) {
  .has-#{$state} {
    label:not([class]),
    label.col-form-label,
    label.#{$classPrefix}-form-control-label {
      color: $color;
    }

    .#{$classPrefix}-form-control-feedback {
      color: $color;
    }

    .input-group-text,
    .#{$classPrefix}-form-control {
      border-color: array-get($shine-input, skins, light, default, border, default);
    }

    .#{$classPrefix}-form-control:focus {
      border-color: array-get($shine-input, skins, light, default, border, focus);
    }
  }

  .#{$classPrefix}-form .#{$classPrefix}-form--state {
    .has-#{$state} {
      .input-group .input-group-text,
      .input-group .btn.btn-secondary,
      .#{$classPrefix}-form-control:focus,
      .#{$classPrefix}-form-control {
        border-color: $color;
      }

      .bootstrap-select.btn-group.btn.btn-secondary,
      .input-group-btn > .btn.btn-secondary {
        border-color: $color;

        &:hover {
          border-color: $color;
        }
      }
    }
  }
}

@include m-build-component--form-base();

@include m-build-component--form-skin();

@include m-build-component--form-validation-state(success, array-get($colors, success, base));
@include m-build-component--form-validation-state(warning, array-get($colors, warning, base));
@include m-build-component--form-validation-state(danger, array-get($colors, danger, base));
