/* ==========================================================================
   Unordered List
   ========================================================================== */

ul {
  margin: 0;
  padding: 0;
  list-style: circle;
  margin: 0 0 1em 1.2em;
  line-height: 1.8;

  ul {
    margin-bottom: 0;
  }
}

/* ==========================================================================
   Ordered List
   ========================================================================== */

ol {
  margin: 0;
  padding: 0;
  list-style: decimal;
  margin: 0 0 1em 1.5em;
  line-height: 1.8;

  ol {
    margin-bottom: 0;
  }
}

/* ==========================================================================
   Definition List
   ========================================================================== */

dl {
  overflow: hidden;
  margin: 0 0 1em;
  font-weight: 300;
  line-height: 1.8;
}

dd {
  margin-left: 0;
  line-height: 1.8;
}

dt {
  font-weight: 500;
  line-height: 1.8;
}