/**
 * @Author 瞿龙俊 - qulongjun@shine.design
 * @Date 2018/9/5 下午7:09
 */
@mixin gradient-bg($alternative-bg, $degree, $from, $to) {
  background: $alternative-bg; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( $degree, $from, $to ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( $degree, $from, $to ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( $degree, $from, $to ); /* For Firefox 3.6 to 15 */
  background: linear-gradient( $degree, $from, $to ); /* Standard syntax */
}